<!-- Modal -->
<div class="modal fade" id="orderSummary" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Order Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>The following order will be sent to the kitchen: </p>
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>Ordered Items</th>
                        <th>Item ID</th>
                        <th>Quantity</th>
                    </tr>
                    <tr data-ng-repeat="item in confirmedItems track by $index">
                        <td>{{$index + 1}}.</td>
                        <td>{{item.name}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.quantity}}</td>
                    </tr>
                </table>
            </div>
            
            <ul style="list-style-type:none">
                <li>{{ordersToast}}</li>
                <li>{{paymentToast}}</li>
                <li>{{tableToast}}</li>
                <li>{{detailsToast}}</li>
            </ul>
            
            <div data-ng-if = "spinnerShow === true" class="spinner-border text-dark" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss = "modal">Close</button>
                <button type="button" class="btn btn-default" data-ng-click = "postData()" >Submit Order</button>
            </div>
        </div>
    </div>
</div>