<!-- Modal -->
<div class="modal fade" id="quitPrompt" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            
            <div class="modal-body">
                <p>Are you sure you want to leave the page?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn exitPigeon mr-auto" data-dismiss = "modal">No</button>
                <button type="button" class="btn payPay floatR" onclick="location.href='tablepage.php'">Yes</button>
            </div>
        </div>
    </div>
</div>
