<!-- Modal -->
<div class="modal fade" id="reservedModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Table Reservation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Table no: {{occupiedTable}}</p>
                <div data-ng-repeat="x in tableRevArray">
                    <p>RevID: {{x.RevID}} RevTime: {{x.RevTime}}-{{x.RevEnd}} RevDate: {{x.RevDate}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" onclick="location.href='createorder.php'">Order</button>
            </div>
        </div>
    </div>
</div>