
header{
  background-color: #9ab5f7;
}

#headerlogo{
  height: 120px;
  width:170px;
  margin-top: -25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
}

#loginlogo{

  height: 250px;
  width:350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:4%;
  margin-bottom: -20%;
}

#mainbutton{
  margin-top: 50px;
  margin-left:20px;
  padding:40px 90px;
  background-color: #C4D4FC;
  color:white;
  font-size: 35px;
}

#centerbutton {
display:inline-block;
margin-left: auto;
margin-right: auto;
margin-bottom: -30%;
}

.menuNavigation ul{
  list-style-type: none;
  overflow: hidden;
}
.menuNavigation li {
  float: right;
}
.menuNavigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.menuNavigation li a:hover {
  background-color: #BDD3E0;
}
