body{
  background-image:url("assets/bg-marble.png");
  background-repeat: repeat;
}

header{
  background-image: linear-gradient(#838285,#a5a5b0,rgba(255,0,0,0));
}

#headerlogo{
  height: 57px;
  width:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#loginlogo{
  height: 100px;
  width:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  margin-bottom: 30px;
}

.menuNavigation ul{
  list-style-type: none;
  overflow: hidden;
}
.menuNavigation li {
  float: right;
}

.menuNavigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  margin-bottom: 15px;
}

.menuNavigation li a:hover {
  background-color: red;
}

#mainbutton{

  background-color: #a2a1a9;
  color:white;
  font-size: 35px;
  padding: 30px 50px;
  margin-left: auto;
  margin-right: auto;
}

}
#centerbutton {
display:inline-block;
margin-left: auto;
margin-right: auto;
}
