body{
  background-image:url("assets/bg-marble.png");
  background-repeat: repeat;
}

header{
  background-image: linear-gradient(#a2a1a9,rgba(255,0,0,0));
}

#headerlogo{
  height: 57px;
  width:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#loginlogo{
  height: 60px;
  width:150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  margin-bottom: 30px;
}

.menuNavigation ul{
  list-style-type: none;
  text-align: center;
}
.menuNavigation li {
  display: inline;
  text-shadow:2px 2px 4px #000000;

}
.menuNavigation li a {
  display: inline-block;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 20px
}
.menuNavigation li a:hover {
  background-color: grey;
  transition: 0.1s;
  border-radius: 6px;
}

#mainbutton{
    background-image: linear-gradient( #abaab1 0%, #d8d8da 50%,#abaab1  100%);
  color:white;
  font-size: 35px;
  width:90%;

  padding-top: 25%;
  padding-bottom: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
#mainbutton:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

#loginbutton {
display:flex;
justify-content: center;
}
#loginbutton:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card{
  /* Add shadows to create the "card" effect */
  background-color: rgba(255,255,255, 0.6) !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-body{
  padding: 50px 80px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.cardTableBodies{
padding: 2.5% 5%;
}
.cardTablePage{
  padding: 2.5% 5%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
#tableAvailable{
  background-color: #28a745;
  color:white;
  font-size: 18px;
  border-radius: 10px;
  padding: 15% 5%;
  height:130px !important;
  width: 163px !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:10%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: wrap;
  justify-content: center;
}
#tableAvailable:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.1s;
}

#tableReserved{
  background-color: #ffc108;
  color:white;
  font-size: 18px;
  border-radius: 10px;
  padding: 15% 5%;
  height:130px !important;
  width: 163px !important;;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:10%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: wrap;
  justify-content: center;
}
#tableReserved:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.1s;
}

#tableOccupied{
  background-color: #dc3545;
  color:white;
  font-size: 18px;
  border-radius: 10px;
  padding: 15% 5%;
  height:130px !important;
  width: 163px !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:10%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: wrap;
  justify-content: center;
}
#tableOccupied:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.1s;
}
.listTitle{
  margin-bottom: 3%;
}

#adminButton{
float:right;
background-color:#337ab7;
color: white;
}

.orderButton{
  background-color:#337ab7;
  color: white;
  margin:auto 5px;
  width: 7%;
}
.resetButton{
  background-color: #d95350;
  color: white;
  margin:auto 5px;
  width: 7%;
}
.exitButton{
  background-color: #5bc1df;
  color: white;
  width: 7%;
}
